* {
  margin: 0;
  padding: 0;
}

/* Base styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.btn {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;

  white-space: nowrap;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Header */

.banner {
  background-size: cover;
  width: 100%;
}

.header-wrapper {
  /* min-height: 1000px; */
  padding-bottom: 230px;
  /* padding-top: 28px; */
}

.header-wrapper--img {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/banner.png);
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/banner.png);
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/banner.png);
}

.page-header {
  margin-bottom: 177px;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.page-header__page-nav {
  min-height: 80px;
}

.site-logo {
  display: block;
  -webkit-animation: logo-appear 0.5s linear;
  animation: logo-appear 0.5s linear;
  margin-top: 30px;
}

@-webkit-keyframes logo-appear {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes logo-appear {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation__item:not(:last-child) {
  margin-right: 58px;
}

.site-navigation__link {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.site-navigation__icon {
  display: block;
  width: 18px;
  fill: #ffffff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.site-navigation__icon--cart {
  height: 15px;
}

.site-navigation__icon--search {
  height: 18px;
}

.site-navigation__link::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #fce38a;
  width: 0;
  height: 3px;
  bottom: -10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.site-navigation__item:hover .site-navigation__link::after {
  width: 100%;
}

.site-navigation__item:focus .site-navigation__link::after {
  width: 100%;
}

.site-navigation__item:hover .site-navigation__link {
  color: #fce38a;
}

.site-navigation__item:focus .site-navigation__link {
  color: #fce38a;
}

.site-navigation__item:hover .site-navigation__icon {
  fill: #fce38a;
}

.site-navigation__item:focus .site-navigation__icon {
  fill: #fce38a;
}

/* Section promo */
.promo__pretitle {
  font-family: "Kaushan Script", cursive;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  font-size: 72px;
  margin-bottom: 59px;
}

.promo__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 150px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 0 190px;
  margin-bottom: 126px;
}

.promo__link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  width: 14.34%;
  padding: 10px 30px;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.promo__link:hover,
.promo__link:focus {
  background-color: #f38181;
  -webkit-box-shadow: #f38181;
  box-shadow: #f38181;
}

/* Services section */

.services {
  padding-top: 52px;
  margin-bottom: 96px;
}

.section-pretitle {
  font-family: "Kaushan Script", cursive;
  color: #333333;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 18px;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333333;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  /* width: 60px; */
  width: 5%;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin: 40px auto 66px;
}

.services__item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.services__item {
  /* flex-basis: 380px; */
  -ms-flex-preferred-size: 31.6667%;
  flex-basis: 31.6667%;
  padding-left: 80px;
  position: relative;
}

.services__icon::before {
  display: block;
  content: "";
  /* width: 80px; */
  width: 21.0526%;
  position: absolute;
  top: 0;
  left: 20px;
}

.services__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

.services__icon--photography::before {
  content: url(../img/service-icons/icon-alarm.svg);
}

.services__icon--web-design::before {
  content: url(../img/service-icons/icon-graph.svg);
}

.services__icon--creativity::before {
  content: url(../img/service-icons/icon-computer.svg);
}

.services__icon--seo::before {
  content: url(../img/service-icons/icon-book.svg);
}

.services__icon--css-html::before {
  content: url(../img/service-icons/icon-home.svg);
}

.services__icon--digital::before {
  content: url(../img/service-icons/icon-image.svg);
}

/* Team section */

.team {
  padding-bottom: 82px;
}

.team__desc {
  max-width: 980px;
  width: 100%;
  margin: 0 auto 90px;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  /* justify-content: space-between; */
}

.team__item {
  width: 33.3333%;
  padding: 0 15px;
}

.team__item-name {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.team__img-wrapper {
  background-color: #95e1d3;
  width: 100%;
  height: 470px;
  margin-bottom: 30px;
  position: relative;
}

.team__img-wrapper--img {
  position: absolute;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team__overlay {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team__item-name,
.team__item-occupation {
  text-align: center;
}

.team__item:hover .team__overlay {
  z-index: 1;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  opacity: 1;
}

.team__item:focus .team__overlay {
  z-index: 1;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  opacity: 1;
}

.team__item:hover .team__img-wrapper--img {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team__item:focus .team__img-wrapper--img {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.socials-wpapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.team__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  text-decoration: none;
  background-color: rgb(252, 227, 138);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team__socials-icon {
  display: block;
  fill: #f38181;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team__socials-icon--facebook {
  width: 13px;
  height: 26px;
}

.team__socials-icon--twitter {
  width: 26px;
  height: 22px;
}

.team__socials-icon--pinterest {
  width: 21px;
  height: 26px;
}

.team__socials-icon--instagram {
  width: 26px;
  height: 26px;
}

.team__socials-link:hover,
.team__socials-link:focus {
  background-color: #f38181;
  -webkit-box-shadow: #f38181;
  box-shadow: #f38181;
}

.team__socials-link:hover .team__socials-icon {
  fill: #ffffff;
}

.team__socials-link:focus .team__socials-icon {
  fill: #ffffff;
}

.team__item-occupation {
  font-weight: lighter;
  font-style: italic;
}

/* Footer */

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 0 11px;
  border-top: 1px solid #e5e5e5;
}

.copyrights-wrapper {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 14px;
  line-height: 17px;
}

.copyrights-wrapper__text--author {
  color: #f38181;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 31.6667%;
}

.email-input {
  border: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  padding: 10px 10px;
  /* flex-basis: 230px; */
  -ms-flex-preferred-size: 60.5263%;
  flex-basis: 60.5263%;
}

.email-input::-webkit-input-placeholder {
  color: #cccccc;
  font-weight: lighter;
  font-style: italic;
  background-color: rgb(255, 255, 255);
}

.email-input::-moz-placeholder {
  color: #cccccc;
  font-weight: lighter;
  font-style: italic;
  background-color: rgb(255, 255, 255);
}

.email-input:-ms-input-placeholder {
  color: #cccccc;
  font-weight: lighter;
  font-style: italic;
  background-color: rgb(255, 255, 255);
}

.email-input::-ms-input-placeholder {
  color: #cccccc;
  font-weight: lighter;
  font-style: italic;
  background-color: rgb(255, 255, 255);
}

.email-input::placeholder {
  color: #cccccc;
  font-weight: lighter;
  font-style: italic;
  background-color: rgb(255, 255, 255);
}

.subscribe-button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: rgb(149, 225, 211);
  padding: 0 33px;
  /* flex-basis: 150px; */
  /* flex-basis: 39.4737%; */
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #f38181;
}

/* Media */
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-wrapper--img {
    background-image: url(../img/banner@2x.jpg);
  }
}
