@media (max-width: 767px) {
    .header-wrapper {
        min-height: 540px;
        padding-top: 20px;
        padding-bottom: 138px;
    }

    .container {
        width: 320px;
    }

    /* Header */

    .regist-list {
        justify-content: center;
        margin-bottom: 115px;
    }

    .promo-title {
        margin-bottom: 14px;
    }

    .promo-desc {
        margin-bottom: 18px;
    }

    .header {
        margin-bottom: 34px;
    }

    .find-partner-btn {
        padding-left: 50px;
        padding-right: 50px;
    }

    /* Section partners  */

    .partners {
        padding-top: 76px;
        padding-bottom: 53px;
    }

    .partners-title {
        margin-bottom: 18px;
    }

    .partners-list {
        margin-bottom: 28px;
    }

    .partners-item {
        width: 236px;
        margin: 0 auto;
    }

    .partners-item:not(:last-child) {
        margin-bottom: 18px;
    }

    .see-partner-btn {
        max-width: 100%;
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (min-width: 768px) {
    .header-wrapper {
        min-height: 700px;
        padding-top: 38px;
        padding-bottom: 235px;
    }

    /* Header */

    .header {
        margin-bottom: 147px;
    }

    .page-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .regist-list {
        order: 2;
    }

    /* Section promo  */

    .promo-title {
        font-size: 52px;
        margin-bottom: 42px;
    }

    .promo-desc {
        font-size: 24px;
        margin-bottom: 36px;
    }

    .find-partner-btn {
        padding-left: 24px;
        padding-right: 24px;
    }

    /* Section partners  */

    .partners {
        padding-top: 74px;
    }

    .partners-title {
        margin-bottom: 36px;
    }

    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 38px;
    }

    .partners-item-one {
        order: 1;
    }

    .partners-item-two {
        order: 3;
    }

    .partners-item-three {
        order: 2;
    }

    .partners-item-four {
        order: 4;
    }

    .see-partner-btn {
        max-width: 50%;
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media (min-width: 768px) and (max-width: 959px) {

    .container {
        width: 748px;
    }

    /* Header */

    .page-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 36px;
        padding-right: 36px;
    }

    /* Section promo  */

    .promo-title {
        padding-left: 122px;
        padding-right: 122px;
    }

    /* Section partners  */

    .partners {
        padding-bottom: 40px;
    }

    .partners-desc {
        padding-right: 10px;
        padding-left: 10px;
    }

    .partners-list {
        padding-left: 128px;
        padding-right: 128px;
    }

    .partners-item {
        flex-basis: 236px;
    }

    .partners-item:not(:nth-of-type(-n + 2)) {
        margin-bottom: 38px;
    }

}

@media (min-width: 960px) {

    .container {
        width: 940px;
    }

    /* Section promo  */

    .promo-title {
        padding-left: 218px;
        padding-right: 218px;
    }

    /* Section partners  */

    .partners {
        padding-bottom: 73px;
    }

    .partners-item {
        flex-basis: 220px;
    }
}